<%- include("../Layouts/header") -%>
<div class="container">
  <div class="header">
    <h1 class="heading"><%= kindOfDay %></h1>
  </div>

  <div class="to-dos">
    <% for(let i = 0; i < toDo.length; i++){ %>
    <ul>
      <input type="checkbox" />
      <li><%= toDo[i] %></li>
    </ul>
    <% } %>
  </div>

  <form method="post" class="form">
    <input type="text" name="ToDo" />
    <button type="submit" name="button" value="stayHome">Submit</button>
  </form>

  <form method="post" class="form">
    <button type="submit" name="button" value="next">Go to work page</button>
  </form>
  <%- include("../Layouts/footer") -%>
</div>
