<%- include("../Layouts/header") -%>
<h1 class="heading">Hello World</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti obcaecati
  unde illum laboriosam consectetur pariatur consequuntur animi iste repellat,
  tenetur voluptates repellendus fugiat, harum quisquam sunt. Saepe voluptate
  repellat minima.
</p>
<%- include("../Layouts/footer") -%>
